@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Quicksand:wght@300;500;600&family=Raleway:ital,wght@1,200;1,300&display=swap');
* {
  /* margin: 40px; */
  background-color: rgb(89, 89, 224); /* rgb(89, 89, 224) */
  /* background-color: rgb(69, 69, 148) */
  scroll-behavior: smooth;
}


.download {
  background-color: rgb(132, 132, 255);
  text-align: center;
  float: center;
  transition: 1.9s;
  font-size: 60px;
  text-decoration: none;
  margin: 20;
  border: none;
  color: white;

}

.download:focus {
  color: rgb(59, 56, 56);
  font-size: 85px;
}

.text {
  background-color: rgb(89, 89, 224);
  font-size: 35px;
}

#download-container {
  background-color: rgb(89, 89, 224);
  text-align: center;
  float: center;
}

h1, h2, h3, h4, h5, h6, button {
  background-color: rgb(89, 89, 224);
    /* background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
    -webkit-background-clip: text; 
    /* so there is no background color (Up and down lines) */
    /* -moz-background-clip: text; */
    /* -webkit-text-fill-color: transparent;  */
    /* for the normal color (probably, i didn't check) */
    /* -moz-text-fill-color: transparent; */ 
  transition: 2s;
}

/* h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
  color: red;
} */

 /* #h1-directions-1:hover~#h1-directions-2{
  color: red;
}  */

#install-components {
  font-family: 'poppins', sans-serif;
}

#text-container {
  color: white;
  font-size: 30px;
  margin-left: 20px;
}


#whitespace {
  background-color: white;
  padding: 30px;
  text-align: center;
  color: white;
}

#whitespace p {
  font-size: 60px;
  font-family: 'Quicksand', 'Semibold 600';
  background-color: white;
  color: black;
}

#white {
  margin: 0;
  padding: 0;
  background-color: white
}

#download-flex {
  display: flex;
}

#download-flex button {
  margin-left: 300px;
  background-color:rgb(132, 132, 255);
  outline: none;
}

button {
  border: none;
  font-family: 'Roblox Flex', 'Light 300 Italic'
}

#directions {
  font-family: 'poppins', sans-serif;
  color: white;
  font-size: 30px;
  margin-left: 20px;
}

a {
  color: white;
  font-style: italic;
}

#read-everything {
  font-weight: bold;
}

#new {
  font-family: 'poppins', sans-serif;
  color: white;
  font-size: 30px;
  margin-left: 20px;
  font-size: 60px;
}


#asterisks {
  font-style: italic;
  color: white;
}


/* #new-grayspace {
  background-color: rgb(69, 69, 148);
  padding: 30px;
  color: black;
}
#new-grayspace h1, #new-grayspace p, #new-grayspace ul, #new-grayspace li {
  background-color: rgb(69, 69, 148);
} */

#new-grayspace {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 30px;
}

#new-grayspace-content {
  margin-left: 30px;
}